<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld :moduleA="getFromModuleA" :moduleB="getFromModuleB"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'Home',
  components: {
    HelloWorld,
  },
  computed: {
    getFromModuleA() {
      return this.$store.getters['moduleA/getMessage'];
    },
    getFromModuleB() {
      return this.$store.getters['moduleB/getMessage'];
    },
  },
};
</script>
