<template>
  <div class="hello">
    <h1>{{ moduleA }}</h1>
    <h3>{{ moduleB }}</h3>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    moduleA: String,
    moduleB: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
